body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    content: initial;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display: flex;
    justify-content: center;
    align-content: center;
}
header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
}
h2 {
    display: flex;
    justify-content: center;
}
